textarea{  
  /* box-sizing: padding-box; */
  overflow:hidden;
  /* demo only: */
  padding:20px;
  width:250px;
  font-size:14px;
  margin:10px auto;

  border-radius:10px;
  border:2px solid;
}

body {
  margin-left: 30px;
  margin-right: 10px;
}

input[type=submit] {
  -webkit-appearance: none;
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
}